html{
	background-color:#efefef;
}

body {
	font-size: 15px;
	color:#333;
	margin: 0px 15%;
	background-color:#fff;
}

h1,h2,h3,h4,h5{
	margin:0px;
	padding:0px;
}

header{
	padding-top: 0px;
}

.logo{
	text-align: center;
	padding:15px 0 0 0;
}

.header-list{
	background-color:black;
	padding:25px;
}

.header-list li {
	float:left;
	list-style-type:none;
	margin:0 25px;
	}

.header-list li a{
	color:white;
	text-decoration: none;
}

.header-list:after{
	clear:both;
	display:block;
	content: " ";
}

.main:after {clear:both;
	display: block;
	content:" ";
}

.left-contents{
	float: left;
	width:70%;
}
.blog-container{
	width:100%;
	height:180px;
	margin-right:10px;
}


.blog-container:after{
	clear:both;
	display: block;
	content: " ";
}


.photo-image{
	width:160px;
	height:150px;
	float:left;
	padding:5px;
	background-color: #efefef;
	margin:10px;
}

.blog-sentence{
float: left;
margin:0 5px;
width:65%;

}

.blog-day {
	font-size: 15px;
	color: gray;
	margin:10px 0;
}

.blog-title{
	font-size: 20px;
	color:blue;
	margin: 0;
	
}

.blog-summary{
	font-size: 12px;
	
}

.right-contents{
	float: left;
	width:30%;
}

.blog-log {
	width:100%;
	height: 50px;	
}


.blog-log:after{
	clear:both;
	display: block;
	content: " ";
}


.log-photo{
	width:60px;
	height:55px;
	margin:0 10px; 
	padding: 3px;
	background-color:#efefef;
	float: left;
}

.log-sentence{
	float: left;
	width:70%;
}


.log-day{
	font-size: 10px;
	margin-bottom: 5px;
}


.log-title{
	margin-top: 0px;
}

footer{
padding-bottom: 100%;
}

.copyright{
text-align: center;
border-top-color:black;
margin-top:20px;
}

